{% block editordashboard %}
<div>
    <h2>Články ke schválení</h2>
    <ul class="list-group">
        {% for submission in pager.currentPageResults %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <span class="me-2">
                        {% if submission.status == -2 %}
                            <i class="bi bi-circle-fill mr-4" style="color: black;" data.bs-toggle="tooltip" title="Status: Zamítnuto"></i>
                        {% elseif submission.status == -1 %}
                            <i class="bi bi-circle-fill mr-4" style="color: red;" data-bs-toggle="tooltip" title="Status: Čeká na opravu"></i>
                        {% elseif submission.status == 0 %}
                            <i class="bi bi-circle-fill mr-4" style="color: yellow;" data-bs-toggle="tooltip" title="Status: Odesláno redaktorovi"></i>
                        {% elseif submission.status == 1 %}
                            <i class="bi bi-circle-fill mr-4" style="color: orange;" data-bs-toggle="tooltip" title="Status: Schvalování"></i>
                        {% else %} {# 2 #}
                            <i class="bi bi-circle-fill mr-4" style="color: green;"  data-bs-toggle="tooltip" title="Status: Schváleno"></i>
                        {% endif %}
                    </span>
                    <div>
                        <strong>{{ submission.name }}</strong><br>
                        <small class="text-muted">Vytvořeno: {{ submission.createdAt|date("Y-m-d H:i") }}</small>
                    </div>
                </div>
                <div>
                    <div class="d-inline-flex">
                    {% if submission.submitedFiles is not empty %}
                        {% set filePaths = [] %}
                        {% set fileDates = [] %}
                        
                        {% for file in submission.submitedFiles %}
                            {% set filePaths = filePaths|merge([file.filename]) %}
                            {% set fileDates = fileDates|merge([file.createdAt|date("c")]) %}
                        {% endfor %}
                        <a href="{{ path('app_review_show_list', {id: submission.id}) }}" class="btn btn-success">Zobrazit<br/>Recenze</a>
                        <button 
                            type="button" 
                            class="btn btn-link" 
                            onclick="showFiles('{{ submission.name }}', {{ filePaths|json_encode(constant('JSON_PRETTY_PRINT')) }}, {{ fileDates|json_encode(constant('JSON_PRETTY_PRINT')) }})"
                            data-bs-toggle="modal" 
                            data-bs-target="#fileModal">
                            Nahrané soubory
                        </button>
                    {% else %}
                        <small class="text-muted">Žádné soubory</small>
                    {% endif %}
                        <div class="d-inline-flex">
                        {{ form_start(rejectSubmissionForm, { attr: { class: 'd-inline' } }) }}
                            {{ form_row(rejectSubmissionForm.submission_id, { 'value': submission.id }) }}
                            {{ form_row(rejectSubmissionForm.status) }}
                            {{ form_row(rejectSubmissionForm.submit) }}
                        {{ form_end(rejectSubmissionForm) }}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <!-- PAGINACE -->
    <div class="pagination d-flex justify-content-center mt-3">
        {% if pager.hasPreviousPage %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': pager.previousPage})) }}" class="btn btn-primary mx-1">
                Předchozí
            </a>
        {% else %}
            <button class="btn btn-secondary mx-1" disabled>
                Předchozí
            </button>
        {% endif %}
    
        <span class="btn btn-outline-primary mx-1">
            Stránka {{ pager.currentPage }} z {{ pager.nbPages }}
        </span>
    
        {% if pager.hasNextPage %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': pager.nextPage})) }}" class="btn btn-primary mx-1">
                Další
            </a>
        {% else %}
            <button class="btn btn-secondary mx-1" disabled>
                Další
            </button>
        {% endif %}
    </div>
    <!-- END PAGINACE -->
    <h2>Poslat recenzentům</h2>
    {{ form_start(sendSubmissionToReviewersForm, { attr: { class: 'd-inline' } }) }}
        <div class="mb-2">
            <label for="{{ sendSubmissionToReviewersForm.reviewers.vars.id }}" class="form-label">Vyberte recenzenty:</label>
            <div class="row">
                {% for choice in sendSubmissionToReviewersForm.reviewers %}
                    <div class="col-4 mb-2">
                        <div class="form-check">
                            {{ form_widget(choice, { 'attr': { 'class': 'form-check-input' } }) }}
                            {{ form_label(choice, null, { 'attr': { 'class': 'form-check-label' } }) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ form_row(sendSubmissionToReviewersForm.submission, {
            'attr': { 'class': 'form-control form-select-sm' },
        }) }}
        <button type="submit" class="btn btn-primary btn-sm mt-2">Poslat recenzentům</button>
    {{ form_end(sendSubmissionToReviewersForm) }}


    <h2>Publikovat článek</h2>
    {{ form_start(publicatedSubmissionForm, { 'attr': { 'class': 'row g-3' } }) }}
        <div class="mb-3 mr-2 ml-3">
            {{ form_label(publicatedSubmissionForm.submission) }}
            {{ form_widget(publicatedSubmissionForm.submission, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(publicatedSubmissionForm.submission) }}
        </div>
        <div class="mb-3">
            {{ form_label(publicatedSubmissionForm.publication) }}
            {{ form_widget(publicatedSubmissionForm.publication, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(publicatedSubmissionForm.publication) }}
        </div>
        <div class="col-12">
            {{ form_row(publicatedSubmissionForm.submit) }}
        </div>
    {{ form_end(publicatedSubmissionForm) }}
{% endblock %}