{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse vh-100">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('app_profile_edit') }}">
                            <i class="bi bi-person-circle"></i>
                            Uživatelský profil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-bag-dash"></i>
                            Úkoly a notifikace
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">
                            <i class="bi bi-wrench"></i>
                            Helpdesk
                        </a>
                    </li>
                    {% if is_granted('ROLE_REVIEWER') %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('app_dashboard_reviewer') }}">
                                <i class="bi bi-bi-chat-left-text"></i>
                                Napsat recenzi
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">
                                <i class="bi bi-database"></i>
                                Admin panel
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_EDITORCHIEF') %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{{ path('app_autorteams') }}">
                                <i class="bi bi-database"></i>
                                Autorské týmy
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!-- Flashes -->
            {% for label, messages in app.flashes %}
                {% if label ==  "error" %}
                <div class="alert alert-danger">
                {% else %}
                <div class="alert alert-{{ label }}">
                {% endif %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if is_granted('ROLE_ADMINISTRATOR') %}
                Vítejte ADMINE, <a href="{{path('app_admin_dashboard')}}">Přejít do administrace</a>
            {% endif %}
            {% if is_granted('ROLE_REVIEWER') %}
                Vítejte recenzente, <a href="{{ path('app_dashboard_reviewer') }}">Požadavky na recenze od redaktorů</a>
            {% endif %}
            {% if is_granted('ROLE_AUTHOR') %}
                {% include 'dashboard/author.html.twig' with {'form': createsubmissionform, 'submissions': submissions} %}
            {% endif %}
            {% if is_granted('ROLE_EDITOR') %}
                {% include 'dashboard/editor.html.twig' with {
                    'pager': pager,
                    'publicatedSubmissionForm': publicatedSubmissionForm,
                    'sendSubmissionToReviewersForm': sendSubmissionToReviewersForm,
                    'rejectSubmissionForm': rejectSubmissionForm
                } %}
            {% endif %}
            {% if is_granted('ROLE_EDITORCHIEF') %}
                {% include 'dashboard/editorchief.html.twig' with {'createPublicationForm': createPublicationForm, 'pager': pager} %}
            {% endif %}
        </main>
    </div>
</div>
{% endblock %}